*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    max-width: 1200px;
    margin: 0 auto ;
    display: inline;
    justify-content: center;
    background-color: rgba(124, 123, 125, 0.822);
}
header{
    text-align: center;
    
}
header h1{
    font-size: 36px;
}
.formm h2{
    padding-top: 34px;
    text-align: center;
    padding-bottom: 8px;
}
form{
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
}
form input, textarea,button{
    width: 100%;
    padding:8px ;
    margin: 4px;
}
button{
    border-radius: 6px;
    border: none;
    background-color: rgb(32, 32, 151);
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    font-style: normal;
}
button:hover{
    background-color: rgb(4, 4, 77);;
}
.tabela{
    max-width:730px;
    margin: 0 auto;
}
table th{
    border-bottom: 2px solid #000;
    padding: 0 100px;
    align-items: start;
    font-size: 20px;
}
table td{
    border-bottom: 1px solid rgba(0, 0,0,0.3);
    padding-top: 18px;
    text-align: center;
    font-weight: 700;
}
.tabela h2{
    text-align: center;
    padding: 16px ;
}
input, textarea{
    background-color: #e7e7e2;

}
input::placeholder, textarea::placeholder{
    color: black;
    font-size: 15px;
    font-weight: bold;
    border:none;
}
input:focus, textarea:focus {
    background-color: #fff;
}
